// ##################################
// ############VARIABLES#############
// ##################################

// Colors
$primary-color: #0000ff;
$body-bg: #fff;

// ##################################
// #############STYLES###############
// ##################################

html, body {
  background: $body-bg;
}
