// ##################################
// ############VARIABLES#############
// ##################################

// Colors
$primary-color: #c8ff00;
$body-bg: #666;

// ##################################
// #############STYLES###############
// ##################################

html, body {
  background: $body-bg;
}
